@charset "UTF-8";

/*fonte2*/ @import url('https://fonts.googleapis.com/css2? family= Romanesco & display=swap');
/*fonte3*/ @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; /*rodapé*/
    --fonte2: 'Romanesco', cursive; /*conteudo-poema*/
    --fonte3: 'League Spartan', sans-serif; /*nome autor*/
}

body{
    background-color: lightblue;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 20px;
    padding-bottom: 15px;
    font-variant: small-caps; /*mantém as letras maiúsculas, porem, menor do que as primeiras. Sem dar impressão de estar gritando.*/
    font-family: var(--fonte2);
    font-size: 6vw;
}

header>p{
    padding-bottom: 40px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section { 
    padding-top: 10vh; 
    padding-left: 40px;
    padding-bottom: 10%vh;
    line-height: 2em;
    font-family: var(--fonte2);
    font-style: italic;
    font-size: 2.5vw;
}

section.normal{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: black;
    background-attachment: scroll;
}

section.imagem{
    color: white;
    padding: 20px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534); /*13px = espalhamento, 0px= ampliação*/
    background-attachment: fixed;
}


section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.24);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.644);
    
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    padding: 5px;
}

footer>p{
    color: white;
    font-family: var(--fonte1);
    font-size: 0.8em;
}